<footer class="bg-clr-footer">
    <div class="container">
        <div class="flex flex-col lg:flex-row flex-wrap items-center lg:items-start lg:justify-between py-12 px-14">
            {% if this.theme.footer_logo %}
            <div class="relative">
                <img src="{{ this.theme.footer_logo | media }}" class="w-full max-h-8 mb-8" alt="">
                <a href="/" class="absolute inset-0 z-10"></a>
            </div>
            {% else %}
            <a href="/" class="text-white text-2xl tracking-widest font-bold uppercase mb-8 px-8">
                Paseca
            </a>
            {% endif %}
            {% component 'footerMenu' %}
            <div class="prose prose-headings:font-quicksand prose-headings:text-cls-heading prose-headings:text-base prose-p:text-white prose-p:text-base prose-a:text-white prose-a:text-base text-center lg:text-start px-4">
                {{ this.theme.footer_text | raw }}
            </div>
        </div>
    </div>
</footer>