<header 
    class="relative bg-clr-header z-50"
>
    <div class="px-8 2xl:px-12 flex items-center justify-between py-4 2xl:py-0">
        {% if this.theme.header_logo %}
        <div class="relative">
            <img src="{{ this.theme.header_logo | media }}" class="w-full max-h-8" alt="">
            <a href="/" class="absolute inset-0 z-10"></a>
        </div>
        {% else %}
        <a href="/" class="flex-shrink-0 flex-grow-0 max-h-12 mr-8 font-poppins font-extrabold text-2xl text-clr-heading tracking-tighter">
            Paseca
        </a>
        {% endif %}
        {% partial 'components/menu' %}
    </div>
</header>
