<script src="{{ [
  '@jquery',
  '@framework',
  '@framework.extras',
]|theme}}">
</script>

<script src="{{ 'assets/js/app.js' | theme }}"></script>

{#
<script src="{{ 'assets/js/modernizr-3.5.0.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery-1.12.4.min.js' | theme }}"></script>
<script src="{{ 'assets/js/popper.min.js+bootstrap.min.js.pagespeed.jc.wPzHVxF1gT.js' | theme }}"></script>
<script src="{{ 'assets/js/owl.carousel.min.js+slick.min.js.pagespeed.jc.W8l7Q1utIe.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.slicknav.min.js+wow.min.js+jquery.magnific-popup.js+jquery.nice-select.min.js+jquery.counterup.min.js+waypoints.min.js+contact.js.pagespeed.jc.x6WUMlsfqS.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.form.js+jquery.validate.min.js+mail-script.js+jquery.ajaxchimp.min.js+plugins.js+main.js.pagespeed.jc.5LlDlL_lCI.js' | theme }}"></script>
#}


{% scripts %}