{% for item in items if not item.viewBag.isHidden %}
    {% if item.items %} 
    <ul class="flex flex-wrap items-center px-4 mb-3">
        {% for item in item.items %}
        <li class="mb-4">
            <a 
                href="{{ item.url }}"
                class="font-quicksand font-light text-base text-gray-400 isActive:text-white hover:text-gray-300 px-4 transition-all duration-300 ease-in-out"
            >
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}

