description = "Шаблон по умолчанию"

[staticMenu generalMenu]
code = "general-menu"

[staticMenu footerMenu]
code = "footer-menu"

[staticBreadcrumbs breadcrumbs]

[staticPage]
useContent = 0
default = 1

[genericForm]
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
reset_form = 1
inline_errors = "disabled"
js_on_success = "$.oc.flashMsg({
    'text': 'Ваша заявка успешно отправлена!.',
    'class': 'success',
    'interval': 3
});
$(this).find('input[type=text], input[type=email], textarea').val('');"
js_on_error = "$.oc.flashMsg({
    'text': 'В вашей заявке содержатся ошибки!.',
    'class': 'error',
    'interval': 3
})"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
{variable 
  name="pageContent" 
  tab="Контент страницы"
  label="Контент страницы"
  type="repeater"
  prompt="Добавить блок"
  style="collapsed"
  span="full"
  groups="~/themes/paseca/partials/components/config.yaml"
}
{/variable}

{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% partial 'common/head' %}
</head>
  <body 
    class="flex flex-col min-h-screen bg-white selection:bg-red-500 selection:text-white"
  >
    {{ this.theme.include_body_begin }}
    {% partial 'common/header' %}

    {% if this.page.url != '/' %}
      {% partial 'common/breadcrumbs' %}
    {% endif %}
    
    <div>
      <main>
        {% partial "components/_" components=pageContent %}
        {% page %}
      </main>    
    </div>
    
    {% partial 'common/footer' %}
    
    {% partial 'common/scripts' %}
    {{ this.theme.include_body_end }}
  </body>
</html>
{% endspaceless %}