<section class="flex flex-col md:flex-row md:items-center">
    <div class="md:w-1/2">
        <div 
            class="carousel-intro carousel js-carousel scrollbar"
            data-aos="fade-up"
            data-aos-duration="1000"
        >
            <ul class="carousel__wrapper js-carousel-wrapper pb-11">
            {% set items = range(1,3) %}
            {% if data.items %}
                {% set items = data.items %}
            {% endif %}

            {% for item in items %}
                <li class="carousel__slide js-carousel-slide">
                    <picture>
                        <img 
                            src="{{ item.image ? item.image | media : 'https://via.placeholder.com/360x275' }}"
                            alt=""
                            class="w-full h-auto"
                        >
                    </picture>
                </li>
            {% endfor %}
            </ul>
            <ol class="intro__pagination carousel__pagination absolute bottom-0 justify-center md:justify-start w-full py-1"></ol>
        </div>
    </div>
    <div class="p-8 md:px-12 md:order-first md:w-1/2">
        <div 
            class="prose text-center md:text-start mx-auto" 
            data-aos="fade-down"
            data-aos-duration="1000"
        >
            {% if data.description %}
                {{ data.description | raw }}
            {% else %}
                <h1>
                    Delivering high quality, effective, and inspiring <span class="accent">architecture</span>
                </h1>
                <br>
                <p>Donec et augue pharetra, rutrum leo at</p>
                <br>
                <a href="#" class="button">Latest Projects</a>
            {% endif %}
        </div>
    </div>
</section>